.listing {
  margin: 1rem;
}

.listing-description {
  display: flex;
  flex-direction: row;
}

.details {
  padding: var(--size-type-large);
}

img {
  max-height: calc(70vh - 2rem); /* vh is the visual height */
}

.crossSvg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-sage);
  stroke: var(--color-white);
}

dt {
  font-weight: var(--font-bold); /* Make the terms bold for emphasis */
}

dd {
  margin-bottom: 1rem; /* Add space below each description */
  margin-left: 1rem;
}

.listing-header {
  display: flex;
  align-items: center; /* Align the items vertically in the center */
  justify-content: space-between; /* Push items to the edges */
  padding-bottom: 1rem; /* Optional: Adds some space below the header */
}
