.listing {
    margin: 3rem;
}

.listing-description {
  display: flex;
  flex-direction: row;
}

.details {
  padding: var(--size-type-large);
}

img {
  max-height: calc(70vh - 2rem); /* vh is the visual height */
}

.crossSvg {
  width: 3rem; 
  height: 3rem;
  color: var(--color-white);
}

dt {
  margin-top: 1rem; /* Add space above each term */
  font-weight: var(--font-bold); /* Make the terms bold for emphasis */
}

dd {
  margin-bottom: 1rem; /* Add space below each description */
}
